@model IList<LabTestPortal.Data.DTO.PersonDto>
@{
    ViewBag.Title = "Persons";
}

<ol class="breadcrumb">
    <li class="breadcrumb"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb active">Persons</li>
</ol>

<h2>
    Persons
    <a href="@Url.Action("Add", "Person")" class="btn btn-default pull-right">Add</a>
</h2>
<div class="row">
    <div class="col-md-6">
        <input placeholder="Search by first or last name" type="text" id="searchBox" class="form-control pull-left" />
        <button class="btn btn-default pull-left" onclick="search('@Url.Action("SearchResult", "Person")', 'searchBox')" >
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<hr />
<nav class="nav col-md-4">
    <ul>
        @foreach (var person in Model)
        {
            <li>
                <a href="@Url.Action("Edit", "Person", new {id = person.Id})">@person.FullName</a>
            </li>
        }
    </ul>
</nav>

<script src="~/Scripts/person/index.js"></script>